{% extends "main/base.html" %}

{% block import %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stepik_auth/css/content.css">
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.host.errors }}
        <label for="id_host">Host:</label> {{ form.host }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <input type="submit" value="Login" />
    </form>

{% endblock %}