#api-list {
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: scroll;
    max-height: 400px;
    min-width: 200px;
}

#api-list .api-path:nth-child(odd) {
    background-color: beige;
}

#api-list .api-path:hover {
    background-color: bisque;
}

#api-list .api-path:active {
    background-color: burlywood;
}

#api-description {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    flex-shrink: 1;
    padding: 10px;
    flex-grow: 1;
}