.extensions-content {
    display: flex;
    padding: 0;
    margin-top: 10px;
    min-width: 230px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    max-width: 640px;
}

.extensions-item-wrapper {
    border-bottom: 1px solid lightgray;
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-decoration: none;
}


.extensions-item-wrapper:hover {
    background: beige;
}

.extensions-item-logo {
    display: flex;
    width: 100px;
    height: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

.extensions-item-name-description {
    margin: 0 15px 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.extensions-item-name {
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
    color: black;
    text-align: left;
    flex-grow: 1;
}

.extensions-item-description {
    padding: 5px;
    font-size: 14px;
    color: black;
    text-align: left;
    flex-grow: 1;
    word-wrap: break-word;
}

.unknown-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
    padding: 15px;
}

.extensions-upload-content {
    display: flex;
    margin: auto;
}

.extensions-uploaded-content {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.ext-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: black;
    font-size: 16px;
}

.ext-header-logo {
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.ext-header-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
}

.ext-header-name {
    display: flex;
    font-size: 20px;
    color: black;
    text-align: center;
}

.ext-header-description {

}

.extension-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.extensions-frame {
    display: flex;
    flex: 1;
    min-height: 300px;
    width: 100%;
    border: none;
    margin: 10px 0;
}

.extensions-upload-line {
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}