#dashboard_course {
    display: flex;
    min-width: 230px;
    margin: 15px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

.dashboard_svg_wrapper {
    display: flex;
    margin: 15px 0;
    width: 100%;
}

#dashboard_svg {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}
