{% extends "main/base.html" %}

{% block import %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extensions/css/content.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extensions/css/left-bar.css">
{% endblock %}

{% block content %}
    <div class="left-bar">
        <ul id="categories">
            <li><a class="category {% if active_category == None %}category-active{% endif %}" href="/">All</a></li>

            {% for category in categories %}
                <li><a class="category {% if category == active_category %}category-active{% endif %}"
                       href="/extensions/category/{{ category.pk }}/"> {{ category }} </a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="content" class="extensions-content">
        {% for extension in extensions %}
            <a class="extensions-item-wrapper" href="/extensions/{{ extension.id }}/run">
                <img class="extensions-item-logo" src="{{ extension.logo.url }}"
                     title="{{ extension.description }}" alt="{{ extension.name }}">
                <div class="extensions-item-name-description">
                    <span class="extensions-item-name"
                          title="{{ extension.description }}">{{ extension.name }}</span>
                    <span class="extensions-item-description">{{ extension.description }}</span>
                </div>
            </a>
        {% empty %}
            No extensions
        {% endfor %}
    </div>
{% endblock %}