.widget-app-item-wrapper {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 120px;
    height: 150px;
    margin: 0 15px 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.widget-app-item-logo {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.widget-app-item-name {
    padding: 5px;
    font-size: 15px;
    margin: auto;
    color: black;
    text-align: center;
    flex-grow: 1;
}

.widget-app-item-wrapper:hover {
    border-color: black;
}