.enrollment_buttons {
    flex-direction: row;
    color: black;
    width: 100%;
    display: flex;
    margin: 15px 0;
    min-width: 315px;
    flex-wrap: wrap;
}

.enrollment_button {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 88px;
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
}

#enrollment_clear:hover {
    background-color: red;
}

.enrollment_button:hover {
    background-color: beige;
}

.enrollment_file_selector, .enrollment_column_selector {
    display: flex;
    width: 100%;
    padding: 5px 0;
}

.enrollment_column_selector select {
    display: inline-block;
    margin-right: 15px;
}

#enrollment_ids_file {
    min-width: 310px;
}

.enrollment_table-wrapper {
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    color: black;
    font-weight: normal;
}

.enrollment_table {
    border-collapse: collapse;
    min-width: 310px;
}

.enrollment_table th {
    font-weight: bold;
}

.enrollment_table th, .enrollment_table td {
    border: 1px solid lightgray;
}

.enrollment_table tr:nth-child(even) {
    background-color: beige;
}

.enrollment_table tr:hover {
    background-color: lightblue;
}
