.content {
    display: flex;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    min-width: 230px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}