#categories {
    padding: 0;
    color: darkgray;
    list-style: none;
    margin: 10px 20px 10px 10px;
    text-align: center;
}

.category {
    color: black;
    padding: 5px;
    border: 1px solid white;
    text-align: left;
    cursor: pointer;
}

.category:hover {
    background-color: beige;
    border-radius: 5px;
    border: 1px solid beige;
}