.api-item-operation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.api-item-method {
    color: white;
    border: 1px solid green;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.api-item-method-GET {
    background-color: green;
}

.api-item-method-HEAD {
    background-color: darkorange;
}

.api-item-method-POST {
    background-color: red;
}

.api-item-method-PUT {
    background-color: blue;
}

.api-item-method-PATCH {
    background-color: lightblue;
}

.api-item-method-DELETE {
    background-color: black;
}

.api-item-method-OPTIONS {
    background-color: yellow;
    color: black;
}

.api-item-path {
    padding: 5px;
    border: 1px solid green;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
}

.api-item-notes {
    margin: 5px 0;
}

.api-params {
    border-collapse: collapse;
    width: 100%;
}

.api-params td, .api-params th {
    border: 1px solid coral;
}

.api-params th {
    color: darkblue;
    padding: 2px;
}

.api-params tr td:first-child {
    text-align: center;
}

.api-parameter-values {
    min-width: 100px;
}

