.api-container {
    display: flex;
    flex-direction: row;
}

#api-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 5px 0;
    padding: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: scroll;
    max-height: 400px;
}

#api-list .api-path:nth-child(odd) {
    background-color: beige;
}

.api-path {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#api-list .api-path:hover {
    background-color: bisque;
}

#api-list .api-path:active {
    background-color: burlywood;
}

#api-description {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    flex-shrink: 1;
    padding: 5px 10px;
}